/* prettier-ignore */
/*************************************************  
    Kobe Bryant Tribute Page
    Last Modified: May 23, 2020
    Author: Javier F Cuadra
    Email: javiercuadra2020u.northwestern.edu
*************************************************/

@-webkit-keyframes unblur {
  0%,
  50% {
    opacity: 0;
    -moz-filter: blur(30px);
    -ms-filter: blur(30px);
    -o-filter: blur(30px);
    -webkit-filter: blur(30px);
    filter: blur(30px);
  }
  100% {
    opacity: 1;
    -moz-filter: blur(0);
    -ms-filter: blur(0);
    -o-filter: blur(0);
    -webkit-filter: blur(0);
    filter: blur(0);
  }
}
@keyframes unblur {
  0%,
  50% {
    opacity: 0;
    -moz-filter: blur(30px);
    -ms-filter: blur(30px);
    -o-filter: blur(30px);
    -webkit-filter: blur(30px);
    filter: blur(30px);
  }
  100% {
    opacity: 1;
    -moz-filter: blur(0);
    -ms-filter: blur(0);
    -o-filter: blur(0);
    -webkit-filter: blur(0);
    filter: blur(0);
  }
}

* {
  box-sizing: border-box;
}

:root {
  --lakers-purple: #552583;
  --lakers-purple-light: hsl(271, 56%, 53%);
  --lakers-purple-transparent: #5525834d;
  --lakers-gold: #fdb927;
  --lakers-gold-transparent: #fdb9274d;
  --lakers-black: #000000;
  font-size: 16px;
  font-family: "Roboto Slab", serif;
  line-height: 1.5;
}
body::-webkit-scrollbar {
  width: 0.25rem;
}
body::-webkit-scrollbar-track {
  background-color: var(--lakers-black);
}
body::-webkit-scrollbar-thumb {
  background-color: var(--lakers-gold);
}

body {
  min-height: 100vh;
  width: 100vw;
  margin: auto;
  overflow-x: hidden;
}

address {
  display: inline;
}

strong {
  font-variation-settings: "wght" 900;
  font-size: 1.01rem;
  text-decoration: underline;
}

.header {
  display: flex;
  flex-direction: column;

  justify-content: center;

  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url("./assets/kobe-jersey.jpeg");
  background-attachment: fixed;

  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100vw;
}

.header__text {
  display: flex;
  flex-direction: column;
  align-items: center;
  -webkit-animation: 1.5s unblur ease;
  animation: 1.5s unblur ease;
}

.header__main-heading,
.header__subheading,
.header__subheading--lifespan {
  color: var(--lakers-gold);
}

.header__main-heading {
  font-size: 5rem;
  margin-top: 0;
}
.header__subheading--lifespan {
  margin-bottom: 0rem;
  font-size: 3rem;
}

.header__subheading {
  font-size: 2rem;
}

.main-content__intro {
  width: 100vw;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0.8),
    rgba(0, 0, 0, 0.3)
  );
  color: white;
}

.main-content__intro::before {
  content: "";
  width: 5rem;
  height: 5rem;
  background-color: var(--lakers-gold-transparent);
  position: absolute;
  transform: rotate(45deg) scale(3, 7) translate(-120%, 50%);
  z-index: 0;
  overflow: hidden;
}

.main-content__intro::after {
  content: "";
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  background-color: var(--lakers-gold-transparent);
  position: absolute;
  transform: rotate(45deg) scale(4, 4) translate(40%, -80%);
  z-index: 0;
  overflow: hidden;
}

.intro__intro-heading {
  font-size: 2.5rem;
  z-index: 2;
}

.intro__intro-heading::before {
  content: "";
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  background-color: var(--lakers-purple-transparent);
  position: absolute;
  transform: rotate(45deg) scale(2, 2) translate(40%, 0%);
  z-index: -1;
  overflow: hidden;
}

.intro__intro-heading::after {
  content: "";
  width: 5rem;
  height: 5rem;
  background-color: var(--lakers-purple-transparent);
  position: absolute;
  transform: rotate(145deg) scale(2, 3.5) translate(100%, -110%);
  z-index: 0;
  overflow: hidden;
}

.intro__intro-text {
  width: 80ch;
  font-size: 1.3rem;
  z-index: 2;
}

.intro__intro-text:last-child {
  margin-bottom: 2rem;
}

.intro__accolade-list {
  align-self: flex-start;
  margin-left: 20%;
  z-index: 2;
}

.accolade-list__accolade {
  font-size: 1.2rem;
  z-index: 2;
}

.main-content__image {
  background-image: url(./assets/kobe.jpg);
  height: 75vh;
  width: 100vw;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.main-content__timeline-section {
  min-height: 90vh;
  position: relative;
}

.main-content__timeline-heading {
  text-align: center;
  font-size: 2.5rem;
}

.main-content__timeline {
  padding: 0;
  margin-bottom: 0;
}

.timeline__item {
  margin: 0;
  list-style: none;
  display: flex;
  align-items: center;
  transition: background-image 0.2s ease-in-out;
  color: white;
  height: 100vh;
  width: 100vw;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  border-top: 10px solid var(--lakers-gold);
  border-bottom: 10px solid vvar(--lakers-gold);
  z-index: ;
}

.timeline__item--1 {
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.8),
      rgba(0, 0, 0, 0)
    ),
    url(./assets/philly.jpeg);
}

.timeline__item--2 {
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.8),
      rgba(0, 0, 0, 0)
    ),
    url(./assets/nbaDraft.jpg);
}

.timeline__item--3 {
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.8),
      rgba(0, 0, 0, 0)
    ),
    url(./assets/allstar.jpg);
}

.timeline__item--4 {
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.8),
      rgba(0, 0, 0, 0)
    ),
    url(./assets/jazz.jpg);
}

.timeline__item--5 {
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.8),
      rgba(0, 0, 0, 0)
    ),
    url(./assets/championship.jpg);
}

.timeline__item--6 {
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.8),
      rgba(0, 0, 0, 0)
    ),
    url(./assets/all-nba.jpg);
}

.timeline__item--7 {
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.8),
      rgba(0, 0, 0, 0)
    ),
    url(./assets/arrest.jpg);
}

.timeline__item--8 {
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.8),
      rgba(0, 0, 0, 0)
    ),
    url(./assets/raptors.jpg);
}

.timeline__item--9 {
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.8),
      rgba(0, 0, 0, 0)
    ),
    url(./assets/mvp.jpg);
}

.timeline__item--10 {
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.8),
      rgba(0, 0, 0, 0)
    ),
    url(./assets/finals.jpg);
}

.timeline__item--11 {
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.8),
      rgba(0, 0, 0, 0)
    ),
    url(./assets/retire.jpg);
}

.timeline__item--12 {
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.8),
      rgba(0, 0, 0, 0)
    ),
    url(./assets/death.jpeg);
}

.timeline__stem {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-left: 3rem;
}
.timeline__stem-segment--first,
.timeline__stem-segment--last {
  background-color: transparent;
}

.timeline__stem-segment {
  width: 3px;
  height: 50vh;
  background-color: var(--lakers-purple);
  z-index: 0;
}

.timeline__stem-segment--first,
.timeline__stem-segment--last {
  background-color: transparent;
}
.timeline__date {
  margin: 1vh 0;
}

.timeline__event {
  width: 50ch;
}

.timeline__content {
  display: flex;
  flex-direction: column;
  margin-left: 5rem;
}

.footer {
  background-color: var(--lakers-black);
  color: var(--lakers-gold);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 40vh;
}

.footer__link-text {
  color: var(--lakers-purple-light);
}
