/*************************************************
    Kobe Bryant Tribute Page
    Last Modified: May 23, 2020
    Author: Javier F Cuadra
    Email: javiercuadra2020u.northwestern.edu
*************************************************/

/* ===============================================
    ~Animation Definitions
=============================================== */
@-webkit-keyframes unblur {
  0%,
  50% {
    -moz-filter: blur(30px);
    -ms-filter: blur(30px);
    -o-filter: blur(30px);
    -webkit-filter: blur(30px);
    filter: blur(30px);
    opacity: 0;
  }

  100% {
    -moz-filter: blur(0);
    -ms-filter: blur(0);
    -o-filter: blur(0);
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1;
  }
}

@keyframes unblur {
  0%,
  50% {
    -moz-filter: blur(30px);
    -ms-filter: blur(30px);
    -o-filter: blur(30px);
    -webkit-filter: blur(30px);
    filter: blur(30px);
    opacity: 0;
  }

  100% {
    -moz-filter: blur(0);
    -ms-filter: blur(0);
    -o-filter: blur(0);
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1;
  }
}

/* ===============================================
    ~Universal Styles and Definitions
=============================================== */
* {
  box-sizing: border-box;
}

:root {
  --lakers-black: #000;
  --lakers-gold: #fdb927;
  --lakers-gold-transparent: #fdb9274d;
  --lakers-purple: rgb(85, 37, 131);
  --lakers-purple-light: #8944ca;
  --lakers-purple-transparent: #5525834d;

  font-family: "Roboto Slab", serif;
  font-size: 16px;
  line-height: 1.5;
}

/* ===============================================
    ~Element Styles
=============================================== */

body {
  margin: 0;
  overflow-x: hidden;
  cursor: default;
}

address {
  display: inline;
}

/* ===============================================
    ~Scrollbar Styles
=============================================== */

body::-webkit-scrollbar {
  width: .25rem;
}

body::-webkit-scrollbar-track {
  background-color: var(--lakers-black);
}

body::-webkit-scrollbar-thumb {
  background-color: var(--lakers-gold);
}

/* ===============================================
    ~Header Styles
=============================================== */

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, .8), rgba(0, 0, 0, .8)), url("./assets/kobe-jersey.jpeg");
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
}

.header__text {
  display: flex;
  flex-direction: column;
  align-items: center;
  -webkit-animation: 1.5s unblur ease;
  animation: 1.5s unblur ease;
}

.header__main-heading,
.header__subheading,
.header__subheading--lifespan {
  color: var(--lakers-gold);
}

.header__main-heading {
  font-size: 5rem;
}

.header__subheading--lifespan {
  font-size: 3rem;
}

.header__subheading {
  font-size: 2rem;
}

/* ===============================================
    ~Main Content Intro Section Styles
=============================================== */

.main-content__intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
  background-image:
    linear-gradient(
      to right,
      rgba(0, 0, 0, .8),
      rgba(0, 0, 0, .3)
    );
}

.main-content__intro::before {
  position: absolute;
  width: 5rem;
  height: 5rem;
  content: "";
  background-color: var(--lakers-gold-transparent);
  transform: rotate(45deg) scale(3, 7) translate(-120%, 50%);
}

.main-content__intro::after {
  position: absolute;
  width: 5rem;
  height: 5rem;
  content: "";
  background-color: var(--lakers-gold-transparent);
  border-radius: 50%;
  transform: rotate(45deg) scale(4, 4) translate(40%, -75%);
}

.intro__intro-heading {
  font-size: 2.5rem;
}

.intro__intro-heading::before {
  position: absolute;
  z-index: -1;
  width: 5rem;
  height: 5rem;
  content: "";
  background-color: var(--lakers-purple-transparent);
  border-radius: 50%;
  transform: rotate(45deg) scale(2, 2) translate(40%, 0%);
}

.intro__intro-heading::after {
  position: absolute;
  width: 5rem;
  height: 5rem;
  content: "";
  background-color: var(--lakers-purple-transparent);
  transform: rotate(145deg) scale(2, 3.5) translate(100%, -110%);
}

.intro__intro-text {
  z-index: 2;
  width: 80ch;
  font-size: 1.3rem;
}

.intro__intro-text:last-child {
  margin-bottom: 2rem;
}

.intro__accolade-list {
  z-index: 2;
  align-self: flex-start;
  margin-left: 20%;
}

.accolade-list__accolade {
  font-size: 1.2rem;
}

/* ===============================================
    ~Main Content Lone Parallax Image Styles
=============================================== */

.main-content__image {
  height: 75vh;
  background-image: url("./assets/kobe.jpg");
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
}

/* ===============================================
    ~Main Content Timeline Styles
=============================================== */


.main-content__timeline-heading {
  font-size: 2.5rem;
  text-align: center;
}

.main-content__timeline {
  padding: 0;
  margin-bottom: 0;
}

.timeline__item {
  display: flex;
  align-items: center;
  color: #fff;
  background-attachment: fixed;
  background-size: cover;
  border-top: 10px solid var(--lakers-gold);
  border-bottom: 10px solid var(--lakers-gold);
}

.timeline__item--1 {
  background-image:
    linear-gradient(
      to right,
      rgba(0, 0, 0, .8),
      rgba(0, 0, 0, 0)
    ),
    url("./assets/philly.jpeg");
}

.timeline__item--2 {
  background-image:
    linear-gradient(
      to right,
      rgba(0, 0, 0, .8),
      rgba(0, 0, 0, 0)
    ),
    url("./assets/nbaDraft.jpg");
  background-position: center 20%;
}

.timeline__item--3 {
  background-image:
    linear-gradient(
      to right,
      rgba(0, 0, 0, .8),
      rgba(0, 0, 0, 0)
    ),
    url("./assets/allstar.jpg");
  background-position: center 30%;

}

.timeline__item--4 {
  background-image:
    linear-gradient(
      to right,
      rgba(0, 0, 0, .8),
      rgba(0, 0, 0, 0)
    ),
    url("./assets/jazz.jpg");
  background-position: center 40%;
}

.timeline__item--5 {
  background-image:
    linear-gradient(
      to right,
      rgba(0, 0, 0, .8),
      rgba(0, 0, 0, 0)
    ),
    url("./assets/championship.jpg");
  background-position: center 15%;
}

.timeline__item--6 {
  background-image:
    linear-gradient(
      to right,
      rgba(0, 0, 0, .8),
      rgba(0, 0, 0, 0)
    ),
    url("./assets/all-nba.jpg");
  background-position: center 10%;
}

.timeline__item--7 {
  background-image:
    linear-gradient(
      to right,
      rgba(0, 0, 0, .8),
      rgba(0, 0, 0, 0)
    ),
    url("./assets/arrest.jpg");
}

.timeline__item--8 {
  background-image:
    linear-gradient(
      to right,
      rgba(0, 0, 0, .8),
      rgba(0, 0, 0, 0)
    ),
    url("./assets/raptors.jpg");
  background-position: center center;
}

.timeline__item--9 {
  background-image:
    linear-gradient(
      to right,
      rgba(0, 0, 0, .8),
      rgba(0, 0, 0, 0)
    ),
    url("./assets/mvp.jpg");
  background-position: center 30%;
}

.timeline__item--10 {
  background-image:
    linear-gradient(
      to right,
      rgba(0, 0, 0, .8),
      rgba(0, 0, 0, 0)
    ),
    url("./assets/finals.jpg");
  background-position: center 30%;
}

.timeline__item--11 {
  background-image:
    linear-gradient(
      to right,
      rgba(0, 0, 0, .8),
      rgba(0, 0, 0, 0)
    ),
    url("./assets/retire.jpg");
  background-position: center 25%;
}

.timeline__item--12 {
  background-image:
    linear-gradient(
      to right,
      rgba(0, 0, 0, .8),
      rgba(0, 0, 0, 0)
    ),
    url("./assets/death.jpeg");
  background-position: center 30%;
}

.timeline__stem {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 3rem;
}

.timeline__stem-segment {
  width: 3px;
  height: 50vh;
  background-color: var(--lakers-purple);
  transition: background-color 1s;
}

.timeline__stem-segment.animate {
  background-color: var(--lakers-gold);
}

.timeline__date {
  margin: 1vh 0;
}

.timeline__item--1 .timeline__date {
  margin-top: 48vh;
}

.timeline__item--12 .timeline__date {
  margin-bottom: 48vh;
}

.timeline__event {
  width: 50ch;
}

.timeline__content {
  margin-left: 5rem;
}

/* ===============================================
    ~Footer Styles
=============================================== */

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 3rem 0;
  color: var(--lakers-gold);
  background-color: var(--lakers-black);
}

.footer__link-text {
  color: var(--lakers-purple-light);
}
